<h1>Important Links</h1>
<a href="https://stackoverflow.com/questions/22052258/what-does-passport-session-middleware-do"> Passport Session</a>
<a href="https://stackoverflow.com/questions/40381401/when-to-use-saveuninitialized-and-resave-in-express-session">resave and saveuninitialized</a>