<h1>sign Up page</h1>
<form action="" method="POST">
    <label for="name">Name : <input type="text" name="name" id="name" placeholder="Enter your name"></label>
    <hr/>
    <label for="email">Email : <input type="email" name="email" id="email" required></label>
    <hr/>
    <label for="password"> password : <input type="password" name="password" placeholder="password" id="password" required></label>
    <label for="cpassword">Confirm password : <input type="password" name="cpassword" placeholder="confirm password" id="cpassword" required></label>
    <label for="birthDate">Date of Birth :<input type="date" name="birthDate" placeholder="Date of Birth" id="birthDate"></label>
</form>