body{
    margin:0;
    background-color:beige;
    font-family:sans-serif;
}

#navbar{
    height:60px;
    background-color:brown;
}

#nav{
    display:flex;
    justify-content:end;
    position: relative;
}
#nav li{
    list-style-type:none;
    color:white;
    margin:10px 15px 0px 0px;
}

#nav li a{
    font-size: 1.2rem;
    color:aquamarine;
    text-transform: capitalize;
    text-decoration: none;
}

#brand{
    position: absolute;
    left:10px;
    top:-5px;
}