body{
    margin:0;
    background-color:beige;
    font-family:sans-serif;
}

#navbar{
    height:60px;
    background-color:#393E46;
}

#nav{
    display:flex;
    justify-content:end;
    position: relative;
}
#nav li{
    list-style-type:none;
    color:#00ADB5;
    margin:10px 15px 0px 0px;
}
/* #brand{
    font-size: 1.5rem;
} */
#nav li a{
    font-size: 1.2rem;
    color:#EEEEEE;
    text-transform: capitalize;
    text-decoration: none;
}
#nav li a:hover{
    color:#00ADB5;
}

#brand h1{
    position: absolute;
    left:10px;
    top:3px;
    color:#00ADB5;
    /* font-size: 1.5rem; */
    margin: 0;
}